.date-filter-wrapper
{
    min-height: 38px;
    border: 1px solid hsl(0,0%,80%);
    border-radius: 4px;
    align-items: center;
    display: flex;
    overflow-x: auto;
    width: 100%;
    /* flex-direction: column; */
}
.date-filter-wrapper p
{
    font-size: 16px;
    padding: 2px 8px;
    margin-bottom: 0px;
    outline: 0 !important;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

.date-filter-wrapper span
{
    overflow-x: auto;
}

.date-range-picker
{
    display: flex;
    justify-content: center;
}

.date-range-picker>div
{
    justify-content: center;
    padding: 1rem;
}

.date-range-picker label
{
    text-align: center;
    width: 100%;
}

.date-range-picker input
{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    padding: 2px 8px;
    border: 1px solid hsl(0,0%,80%);
    min-height: 38px;

}

.network-table-filters
{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.filters
{
    margin-top: 1rem;
    gap: 1rem;
    display: block;
}